/*@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}

html, body{
	margin: 0;
}*/

/*Basic tag styles*/

/*ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}*/

/*******Button style************/

/*.active{
	background:#3a89cc !important;
	color:white;
}

.delete{
	color:red;
}

.base-button{
    font-family:Roboto-Regular;
    font-size:18px;
    color: white;
    background:#49acff;
    border:1px solid #49acff;
    padding:5px 15px;
    transition: 0.3s;
}

.base-button:hover{
    background:white;
    color: black;
    cursor: pointer;
}

.add-button{
    background: #9ACD32;
    border:1px solid #9ACD32;
}

.del-button{
    background: #FF4444;
    border:1px solid #FF4444;
    font-size:16px;
}*/

/*****Navigation bar styles****/

/*.navbar{
    -webkit-box-shadow: 0px -13px 38px 16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -13px 38px 16px rgba(0,0,0,0.75);
    box-shadow: 0px -13px 38px 16px rgba(0,0,0,0.75);
    background: #5bb4ff;
}

div.navbar ul.nav{
	text-align:left;
}

div.navbar ul.nav li{
	display:inline-block;
    color:white;
	margin-right: -4px;
	border-right: 1px solid #3378b2;
	padding: 15px 30px;
}

div.navbar ul.nav li:hover{
	background:#3a89cc;
	color:white;
}


div.navbar ul.nav a{
	color:black;
	font-size: 22px;
}*/

/*****Content-body styles****/

/*div.task-wrapper{
    border:1px solid red;
    margin: 25px 0 0 0;
}

div.task-wrapper ul.tasks li p{
	display: inline;
}

/*****Add task block styles****/

div.new-task{
    vertical-align: top;
    color: white;
    font-size: 20px;
    margin: 10px 40px;
    background: #6dbcff;
}

div.new-task div{
    margin: 15px 5px;
}

div.new-task div select{
    text-align: right;
}

div.new-task > .label-data{
    display:inline !important;
}

div.new-task input, div.new-task select{
    width: 150px;
}

div.new-task button{
    float:right;
    margin:0 10px 10px 0;
}

div.new-task, div.task-list{
    display: inline-block;
}

div.task-list{
    margin:10px 20px 10px 40px;
}*/

/***Categories list styles*/
/*.activeCategory{
	background:#ff4444 !important;
}

div.task-category ul{
    background: #ff6969;
    color:white;
    font-size:20px;

}

div.task-category ul li{
    display:inline-block;
    border-right:1px solid #e53d3d;
    padding:5px 15px;
}

div.task-category ul li:hover{
    background: #ff4444;
    cursor: pointer;
}

div.task-category ul li:nth-child(n+2){
    margin-left: -4px;
}

div.task-list ul.tasks li{
    border: 1px solid black;
}*/

/******Task list styles*********/

/*div.task-wrapper ul.tasks li{
    margin: 5px 0;
    font-size: 18px;
}

div.task-wrapper ul.tasks li button{
    margin-left:5px;
}

div.tasks-display > button{
    margin:5px 10px 10px 10px;
}*/

.col-centered{
    margin:0 auto;
    float: none;
}

.category-label{
    min-width:90px;
}

.category-dropdown{
    min-width:110px;
}

.non-display{
    display: none !important;
}

/***************Progress Button******************/
@-webkit-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-moz-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-o-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}

.m-progress {
    position: relative;
    opacity: .8;
    color: transparent !important;
    text-shadow: none !important;
}

.m-progress:hover,
.m-progress:active,
.m-progress:focus {
    cursor: default;
    color: transparent;
    outline: none !important;
    box-shadow: none;
}

.m-progress:before {
    content: '';
    
    display: inline-block;
    
    position: absolute;
    background: transparent;
    border: 1px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    
    box-sizing: border-box;
    
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    
    width: 24px;
    height: 24px;
    
    -webkit-animation: ld 1s ease-in-out infinite;
    -moz-animation:    ld 1s ease-in-out infinite;
    -o-animation:      ld 1s ease-in-out infinite;
    animation:         ld 1s ease-in-out infinite;
}

.btn-default.m-progress:before {
    border-left-color: #333333;
    border-right-color: #333333;
}

.btn-lg.m-progress:before {
    margin-top: -16px;
    margin-left: -16px;
    
    width: 32px;
    height: 32px;
}

.btn-sm.m-progress:before {
    margin-top: -9px;
    margin-left: -9px;
    
    width: 18px;
    height: 18px;
}

.btn-xs.m-progress:before {
    margin-top: -7px;
    margin-left: -7px;
    
    width: 14px;
    height: 14px;
}

/***********End progress button**********/