@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorInfo</title>
</head>
<body>
    <div> 
        <p>
            Controller: @Model.ControllerName<br />
            Action: @Model.ActionName<br />
            Exception: @Model.Exception.Message
        </p>
    </div>
</body>
</html>
