<div class="navbar">
    <ul class="nav">
        <a href="#"><li class='active'>Main</li></a>
        <a href="#"><li>Profile</li></a>
        <a href="#"><li>Tasks</li></a>
    </ul>
</div>
<div class="task-wrapper">
    <div class="new-task">
        <div>
            <label>Title:</label>
            <input type="text" data-bind="value: newTask">
        </div>
        <div>
            <label>Type: </label>
            <select data-bind="options: filteredCategories, value: newTaskCategory, optionsText: 'name'"></select>
        </div>
        <button data-bind="click: addTask" class="base-button add-button">Add</button>
    </div>
    <div class="task-list">
        <div class="task-category">
            <ul data-bind="foreach: categories">
                <li data-bind="text: name, click: $root.changeCategory, css: { activeCategory: name==$root.currentCategory().name }"></li>
            </ul>
        </div>
        <div class="tasks-display" style="border: 1px solid red">
            <ul class="tasks" data-bind="foreach: chosenTasks">
                <li>
                    <input type="checkbox" data-bind="checked: isDone">
                    <p data-bind="text: title"></p>
                    <button data-bind="click: $root.removeTask" class="base-button del-button">Delete</button>
                </li>
            </ul>
            <button data-bind="click: saveTasks, enable: false" class="base-button">Save</button>
        </div>
    </div>
</div>

@section scripts {
}