<!--<div class="navbar">
    <ul class="nav">
        <a href="#"><li class='active'>Main</li></a>
        <a href="#"><li>Profile</li></a>
        <a href="#"><li>Tasks</li></a>
    </ul>
</div>
<div class="task-wrapper">
    <div class="new-task">
        <div>
            <label>Title:</label>
            <input type="text" data-bind="value: newTask">
        </div>
        <div>
            <label>Type: </label>
            <select data-bind="options: filteredCategories, value: newTaskCategory, optionsText: 'name'"></select>
        </div>
        <button data-bind="click: addTask" class="base-button add-button">Add</button>
    </div>
    <div class="task-list">
        <div class="task-category">
            <ul data-bind="foreach: categories">
                <li data-bind="text: name, click: $root.changeCategory, css: { activeCategory: name==$root.currentCategory().name }"></li>
            </ul>
        </div>

        <div class="tasks-display" style="border: 1px solid red">
            <ul class="tasks" data-bind="foreach: chosenTasks">
                <li>
                    <input type="checkbox" data-bind="checked: isDone">
                    <p data-bind="text: title"></p>
                    <button data-bind="click: $root.removeTask" class="base-button del-button">Delete</button>
                </li>
            </ul>
            <button data-bind="click: saveTasks, enable: false" class="base-button">Save</button>
        </div>
    </div>
</div>-->

<div class="container">
    <div class="row">
        <div class="col-md-8 col-centered">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" data-bind="text: chosenCategory" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" data-bind="foreach: filteredCategories">
                        <a class="dropdown-item" href="#" data-bind="text: name, click: $root.newTaskCategory"></a>
                    </div>
                </div>
                <input type="text" data-bind="value: newTask" class="form-control" aria-label="Text input with dropdown button">
                <span class="input-group-btn">
                    <button data-bind="click: addTask" class="btn btn-success" type="button">Add</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-centered">
            <ul class="nav nav-tabs" data-bind="foreach: categories">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bind="text: name, click: $root.changeCategory, css: { active: name==$root.currentCategory().name }"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-centered">
            <ul class="list-group" data-bind="foreach: chosenTasks">
                <div class="taskDisabled">
                    <li class="list-group-item" data-bind="enable: false">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" data-bind="checked: isDone">
                            </span>
                            <select class="form-control" data-bind="options: $root.filteredCategories, optionsText: 'name', attr: { readonly: !($root.editableTask() == $data), disabled: !($root.editableTask() == $data)}"></select>
                            <!-- ko if: !$root.editableTask() || $root.editableTask() != $data -->
                            <input type="text" data-bind="if: $root.editableTask() == undefined, value: title()" readonly class="form-control">
                            <!-- /ko -->
                            <!-- ko if: $root.editableTask() && $root.editableTask() == $data -->
                            <input type="text" data-bind="value: $root.editableTask().title" class="form-control">
                            <!-- /ko -->
                            <span class="input-group-btn" data-bind="if: $root.editableTask() == undefined || $root.editableTask() != $data || ($root.taskProcessing() && $root.editableTask == $data)">
                                <button type="button" data-bind="click: $root.editTask" class="btn btn-warning" aria-label="Close">
                                    <span aria-hidden="true" style="font-size: 22px">Edit</span>
                                </button>
                            </span>
                            <span class="input-group-btn" data-bind="if:  ($root.editableTask() != undefined && $root.editableTask() == $data) || ($root.taskProcessing() && $root.editableTask == $data)">
                                <button type="button" data-bind="click: $root.saveEditedTask" class="btn btn-primary saveButton" aria-label="Close">
                                    <span aria-hidden="true" style="font-size: 22px">
                                        <!-- ko if: $root.taskProcessing() -->
                                        <i data-bind="" class="fa fa-circle-o-notch fa-spin"></i>
                                        <!-- /ko -->
                                        Save
                                    </span>
                                </button>
                            </span>
                            <span class="input-group-btn" data-bind="if:  $root.editableTask() != undefined && $root.editableTask() == $data && !$root.taskProcessing()">
                                <button type="button" data-bind="click: $root.cancelEditedTask" class="btn btn-warning" aria-label="Close">
                                    <span aria-hidden="true" style="font-size: 22px">Cancel</span>
                                </button>
                            </span>
                            <span class="input-group-btn">
                                <button type="button" data-bind="click: $root.removeTask" class="btn btn-danger" aria-label="Close">
                                    <span aria-hidden="true" style="font-size: 30px">&times;</span>
                                </button>
                            </span>
                            <!--<span class="input-group-addon category-label" data-bind="text: category().name, css: {nonDisplay: !($root.editableTask() == $data)} "></span>
                <div class="input-group-btn category-dropdown" data-bind="displayElement: $root.editableTask() == $data">
                    <button type="button" data-bind="text: category().name" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" data-bind="foreach: $root.filteredCategories">
                        <a class="dropdown-item"  data-bind="text: name, click: $root.editedTaskCategory" href="#"></a>
                    </div>
                </div>
                <input type="text" data-bind="value: title, attr: { readonly: !($root.editableTask() == $data)}" class="form-control">
                <span class="input-group-btn">
                    <button type="button" data-bind="click: $root.editTask" class="btn btn-warning" aria-label="Close">
                        <span aria-hidden="true" style="font-size: 22px">Edit</span>
                    </button>
                </span>
                <span class="input-group-btn">
                    <button type="button" data-bind="click: $root.removeTask" class="btn btn-danger" aria-label="Close">
                        <span aria-hidden="true" style="font-size: 30px">&times;</span>
                    </button>
                </span>-->
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8  col-centered">
            <button type="button" id="saveButton" data-bind="click: saveTasks, progressButton: taskProcessing()" class="btn btn-primary btn-lg btn-block" data-loading-text="Loading...">Save</button>
        </div>
    </div>
    <span class="spinner"></span>
</div>


@section scripts {
}
